* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background: #000;
  overflow: hidden;
}

.preloader {
  position: absolute;
  inset: 0;
  background-color: #000;
  z-index: 2;
  max-width: 100%;
  transition: 1.3s ease-in-out;
}
.preloader-out {
  transform: translateX(100%);
}

.preloader__img {
  position: relative;
  transition: 2s ease-in-out;
  transition-property: opacity;
  margin: 0 auto;
  max-width: 40%;
  width: 100%;
  opacity: 0;
}
.preloader__img img {
  width: 100%;
}
.preloader__img-active {
  opacity: 1;
}

.slider {
  height: 100%;
  width: 100%;
}

.slider__wrapper {
  will-change: transform;
}

.slider__item {
  overflow: hidden;
  will-change: transform;
}
.slider__item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  box-shadow: inset 0 0 250px rgb(0, 0, 0);
}

.slider__wrapper {
  transform-style: preserve-3d;
}

.slider__layer {
  position: absolute;
  inset: 0;
  background-size: cover !important;
  background-position: center !important;
}